## Storing information using variables

Computers are useful for two purposes: storing information (also known as data) and performing operations on stored data. While working with a programming language such as Python, data is stored in variables. You can think of variables are containers for storing data. The data stored within a variable is called its value.

In [1]:
my_favorite_color = "blue"

In [3]:
my_favorite_color

'blue'

A variable is created using an assignment statement. It begins with the variable's name, followed by the assignment operator `=` followed by the value to be stored within the variable.  Note that the assignment operator `=` is different from the equality comparison operator `==`.

You can also assign values to multiple variables in a single statement by separating the variable names and values with commas.

In [4]:
color1, color2, color3 = "red", "green", "blue"

In [5]:
color1

'red'

In [6]:
color2

'green'

In [7]:
color3

'blue'

You can assign the same value to multiple variables by chaining multiple assignment operations within a single statement.

In [8]:
color4 = color5 = color6 = "magenta"

In [9]:
color4

'magenta'

In [10]:
color5

'magenta'

In [11]:
color5

'magenta'

In [12]:
color6

'magenta'

You can change the value stored within a variable by assigning a new value to it using another assignment statement. Be careful while reassigning variables: when you assign a new value to the variable, the old value is lost and no longer accessible.

In [13]:
my_favorite_color = "red"

In [14]:
my_favorite_color

'red'

While reassigning a variable, you can also use the variable's previous value to compute the new value.

In [15]:
counter = 10

In [16]:
counter = counter + 1

In [17]:
counter

11

The pattern `var = var op something` (where `op` is an arithmetic operator like `+`, `-`, `*`, `/`) is very common, so Python provides a *shorthand* syntax for it.

In [18]:
counter = 10

In [19]:
# Same as `counter = counter + 4`
counter += 4

In [20]:
counter

14

Variable names can be short (`a`, `x`, `y`, etc.) or descriptive ( `my_favorite_color`, `profit_margin`, `the_3_musketeers`, etc.). However, you must follow these rules while naming Python variables:

* A variable's name must start with a letter or the underscore character `_`. It cannot begin with a number.
* A variable name can only contain lowercase (small) or uppercase (capital) letters, digits, or underscores (`a`-`z`, `A`-`Z`, `0`-`9`, and `_`).
* Variable names are case-sensitive, i.e., `a_variable`, `A_Variable`, and `A_VARIABLE` are all different variables.

Here are some valid variable names:

In [21]:
a_variable = 23
is_today_Saturday = False
my_favorite_car = "Delorean"
the_3_musketeers = ["Athos", "Porthos", "Aramis"]

Let's try creating some variables with invalid names. Python prints a syntax error if your variable's name is invalid.

> **Syntax**: The syntax of a programming language refers to the rules that govern the structure of a valid instruction or *statement*. If a statement does not follow these rules, Python stops execution and informs you that there is a *syntax error*. You can think of syntax as the rules of grammar for a programming language.

In [22]:
a variable = 23

SyntaxError: invalid syntax (<ipython-input-22-b4f9daa715a5>, line 1)

In [23]:
is_today_$aturday = False

SyntaxError: invalid syntax (<ipython-input-23-3785425ca227>, line 1)

In [24]:
my-favorite-car = "Delorean"

SyntaxError: cannot assign to operator (<ipython-input-24-829f5ed5b10b>, line 1)

## Built-in data types in Python

Any data or information stored within a Python variable has a *type*. You can view the type of data stored within a variable using the `type` function.

In [25]:
a_variable

23

In [26]:
type(a_variable)

int

In [27]:
is_today_Saturday

False

In [28]:
type(is_today_Saturday)

bool

In [29]:
my_favorite_car

'Delorean'

In [30]:
type(my_favorite_car)

str

In [31]:
the_3_musketeers

['Athos', 'Porthos', 'Aramis']

In [32]:
type(the_3_musketeers)

list

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None, and string are *primitive data types* because they represent a single value. Other data types like list, tuple, and dictionary are often called *data structures* or *containers* because they hold multiple pieces of data together.

### Integer

Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.

In [34]:
current_year = 2020

In [35]:
current_year

2020

In [36]:
type(current_year)

int

In [37]:
type(current_year)

int

Unlike some other programming languages, integers in Python can be arbitrarily large (or small). There's no lowest or highest value for integers, and there's just one `int` type (as opposed to `short`, `int`, `long`, `long long`, `unsigned int`, etc. in C/C++/Java).

In [38]:
a_large_negative_number = -23374038374832934334234317348343

In [39]:
a_large_negative_number

-23374038374832934334234317348343

In [40]:
type(a_large_negative_number)

int

### Float

Floats (or floating-point numbers) are numbers with a decimal point. There are no limits on the value or the number of digits before or after the decimal point. Floating-point numbers have the type `float`.ipynb_checkpoints/

In [41]:
pi = 3.141592653589793238

In [42]:
pi

3.141592653589793

In [43]:
type(pi)

float

Note that a whole number is treated as a float if written with a decimal point, even though the decimal portion of the number is zero.

In [44]:
a_number = 3.0

In [45]:
a_number

3.0

In [46]:
type(a_number)

float

In [48]:
another_number = 4.

In [49]:
another_number

4.0

In [50]:
type(another_number)

float

Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

In [51]:
one_hundredth = 1e-2

In [52]:
one_hundredth

0.01

In [53]:
type(one_hundredth)

float

In [54]:
avogadro_number = 6.02214076e23

In [55]:
avogadro_number

6.02214076e+23

In [56]:
type(avogadro_number)

float

You can convert floats into integers and vice versa using the `float` and `int` functions. The operation of converting one type of value into another is called casting.

In [57]:

float(current_year)

2020.0

In [58]:
float(a_large_negative_number)

-2.3374038374832935e+31

In [59]:
int(pi)

3

In [60]:
int(avogadro_number)

602214075999999987023872

While performing arithmetic operations, integers are automatically converted to `float`s if any of the operands is a `float`. Also, the division operator `/` always returns a `float`, even if both operands are integers. Use the `//` operator if you want the result of the division to be an `int`.

In [61]:
type(45 * 3.0)

float

In [62]:
type(45 * 3)

int

In [63]:
type(10/3)

float

In [64]:
type(10/2)

float

In [65]:
type(10/2)

float

In [66]:
type(10//2)

int

### Boolean

Booleans represent one of 2 values: `True` and `False`. Booleans have the type `bool`.ipynb_checkpoints/

In [67]:
is_today_Sunday = True

In [68]:
is_today_Sunday

True

In [69]:
type(is_today_Saturday)

bool

Booleans are generally the result of a comparison operation, e.g., `==`, `>=`, etc.

In [70]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10

In [71]:
is_ice_bag_expensive

False

In [72]:
type(is_ice_bag_expensive)

bool

Booleans are automatically converted to `int`s when used in arithmetic operations. `True` is converted to `1` and `False` is converted to `0`.

In [73]:
5 + False

5

In [74]:
3. + True

4.0

Any value in Python can be converted to a Boolean using the `bool` function. 

Only the following values evaluate to `False` (they are often called *falsy* values):

1. The value `False` itself
2. The integer `0`
3. The float `0.0`
4. The empty value `None`
5. The empty text `""`
6. The empty list `[]`
7. The empty tuple `()`
8. The empty dictionary `{}`
9. The empty set `set()`
10. The empty range `range(0)`

Everything else evaluates to `True` (a value that evaluates to `True` is often called a *truthy* value).

In [75]:
bool(False)

False

In [76]:
bool(0)

False

In [77]:
bool(0.0)

False

In [78]:
bool(None)

False

In [79]:
bool("")

False

In [81]:
bool(())

False

In [82]:
bool([])

False

In [83]:
bool({})

False

In [84]:
bool(set())

False

In [85]:
bool(range(0))

False

In [86]:
bool(True), bool(1), bool(2.0), bool("hello"), bool([1,2]), bool((2,3)), bool(range(10))

(True, True, True, True, True, True, True)

### None

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [87]:
nothing = None

In [88]:
type(nothing)

NoneType

### String

A string is used to represent text (*a string of characters*) in Python. Strings must be surrounded using quotations (either the single quote `'` or the double quote `"`). Strings have the type `string`.

In [89]:
today = "Saturday"

In [90]:
today

'Saturday'

In [91]:
type(today)

str

You can use single quotes inside a string written with double quotes, and vice versa.

In [92]:
my_favorite_movie = "One Flew over the Cuckoo's Nest"

In [93]:
my_favorite_movie

"One Flew over the Cuckoo's Nest"

In [94]:
my_favorite_pun = 'Thanks for explaining the word "many" to me, it means a lot.'

In [95]:
my_favorite_pun

'Thanks for explaining the word "many" to me, it means a lot.'

To use a double quote within a string written with double quotes, *escape* the inner quotes by prefixing them with the `\` character.

In [96]:
another_pun = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."

In [97]:
another_pun

'The first time I got a universal remote control, I thought to myself "This changes everything".'

Strings created using single or double quotes must begin and end on the same line. To create multiline strings, use three single quotes `'''` or three double quotes `"""` to begin and end the string. Line breaks are represented using the newline character `\n`.

In [98]:
yet_another_pun = '''Son: "Dad, can you tell me what a solar eclipse is?" 
Dad: "No sun."'''

In [99]:
yet_another_pun

'Son: "Dad, can you tell me what a solar eclipse is?" \nDad: "No sun."'

Multiline strings are best displayed using the `print` function.

In [100]:
print(yet_another_pun)

Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."

In [101]:
a_music_pun = """
Two windmills are standing in a field and one asks the other, 
"What kind of music do you like?"  

The other says, 
"I'm a big metal fan."
"""

In [102]:
print(a_music_pun)

Two windmills are standing in a field and one asks the other,
"What kind of music do you like?"

The other says,
"I'm a big metal fan."

In [103]:
len(my_favorite_movie)

31

Note that special characters like `\n` and escaped characters like `\"` count as a single character, even though they are written and sometimes printed as two characters.

In [104]:
multiline_string = """a
b"""
multiline_string

'a\nb'

In [105]:
len(multiline_string)

3

A string can be converted into a list of characters using `list` function.

In [106]:
list(multiline_string)

['a', '\n', 'b']

Strings also support several list operations, which are discussed in the next section. We'll look at a couple of examples here.

You can access individual characters within a string using the `[]` indexing notation. Note the character indices go from `0` to `n-1`, where `n` is the length of the string.

In [107]:
today = "Saturday"

In [108]:
today[0]

'S'

In [109]:
today[3]

'u'

In [110]:
today[7]

'y'

You can access a part of a string using by providing a `start:end` range instead of a single index in `[]`.

In [111]:
today[5:8]

'day'

In [112]:
'Sun' in today

False

Two or more strings can be joined or *concatenated* using the `+` operator. Be careful while concatenating strings, sometimes you may need to add a space character `" "` between words.

In [113]:
full_name = "Derek O'Brien"

In [114]:
greeting = "Hello"

In [115]:
greeting + full_name

"HelloDerek O'Brien"

In [116]:
greeting + " " + full_name + "!" # additional space

"Hello Derek O'Brien!"

Strings in Python have many built-in *methods* that are used to manipulate them. Let's try out some common string methods.

> **Methods**: Methods are functions associated with data types and are accessed using the `.` notation e.g. `variable_name.method()` or `"a string".method()`. Methods are a powerful technique for associating common operations with values of specific data types.

The `.lower()`, `.upper()` and `.capitalize()` methods are used to change the case of the characters.

In [117]:
today.lower()

'saturday'

In [118]:
"saturday".upper()

'SATURDAY'

In [119]:
"monday".capitalize() # changes first character to uppercase

'Monday'

The `.replace` method replaces a part of the string with another string. It takes the portion to be replaced and the replacement text as *inputs* or *arguments*.

In [120]:
another_day = today.replace("Satur", "Wednes")

In [121]:
another_day

'Wednesday'

Note that `replace` returns a new string, and the original string is not modified.

In [122]:
today

'Saturday'

The `.split` method splits a string into a list of strings at every occurrence of provided character(s).ipynb_checkpoints/

In [123]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

The `.strip` method removes whitespace characters from the beginning and end of a string.

In [124]:
a_long_line = "       This is a long line with some space before, after,     and some space in the middle..    "

In [125]:
a_long_line_stripped = a_long_line.strip()

In [126]:
a_long_line_stripped

'This is a long line with some space before, after,     and some space in the middle..'

The `.format` method combines values of other data types, e.g., integers, floats, booleans, lists, etc. with strings. You can use `format` to construct output messages for display.

In [127]:
# Input variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# Template for output message
output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, 
then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %,
then the total profit it makes by selling {} ice bags is $ {}.

In [128]:
# Inserting values into the string
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

print(output_message)

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0 %,
then the total profit it makes by selling 500 ice bags is $ 125.0.

Notice how the placeholders `{}` in the `output_template` string are replaced with the arguments provided to the `.format` method.

It is also possible to use the string concatenation operator `+` to combine strings with other values. However, those values must first be converted to strings using the `str` function.

In [129]:
"If a grocery store sells ice bags at $ " + cost_of_ice_bag + ", with a profit margin of " + profit_margin

TypeError: can only concatenate str (not "float") to str

In [130]:
"If a grocery store sells ice bags at $ " + str(cost_of_ice_bag) + ", with a profit margin of " + str(profit_margin)

'If a grocery store sells ice bags at $ 1.25, with a profit margin of 0.2'

You can `str` to convert a value of any data type into a string.

In [131]:
str(23)

'23'

In [132]:
str(23.432)

'23.432'

In [133]:
str(True)

'True'

In [134]:
the_3_musketeers = ["Athos", "Porthos", "Aramis"]
str(the_3_musketeers)

"['Athos', 'Porthos', 'Aramis']"

Strings also support the comparison operators `==` and `!=` for checking whether two strings are equal.

In [135]:
first_name = "John"

In [136]:
first_name == "Doe"

False

In [137]:
first_name == "John"

True

In [138]:
first_name != "Jane"

True

We've looked at the primitive data types in Python. We're now ready to explore non-primitive data structures, also known as containers.

Before continuing, let us run `jovian.commit` once again to record another snapshot of our notebook.

### List

A list in Python is an ordered collection of values. Lists can hold values of different data types and support operations to add, remove, and change values. Lists have the type `list`.

To create a list, enclose a sequence of values within square brackets `[` and `]`, separated by commas.

In [139]:
fruits = ['apple', 'banana', 'cherry']

In [140]:
fruits

['apple', 'banana', 'cherry']

In [141]:
type(fruits)

list

Let's try creating a list containing values of different data types, including another list.

In [142]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [143]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [144]:
empty_list = []

In [145]:
empty_list

[]

To determine the number of values in a list, use the `len` function. You can use `len`  to determine the number of values in several other data types.

In [147]:
len(fruits)

3

In [148]:
print("Number of fruits:", len(fruits))

Number of fruits: 3

In [149]:
len(a_list)

6

In [150]:
len(empty_list)

0

You can access an element from the list using its *index*, e.g., `fruits[2]` returns the element at index 2 within the list `fruits`. The starting index of a list is 0.

In [151]:
fruits[0]

'apple'

In [152]:
fruits[1]

'banana'

In [153]:
fruits[2]

'cherry'

If you try to access an index equal to or higher than the length of the list, Python returns an `IndexError`.

In [154]:
fruits[3]

IndexError: list index out of range

In [155]:
fruits[4]

IndexError: list index out of range

You can use negative indices to access elements from the end of a list, e.g., `fruits[-1]` returns the last element, `fruits[-2]` returns the second last element, and so on.

In [156]:
fruits[-1]

'cherry'

In [157]:
fruits[-2]

'banana'

In [158]:
fruits[-3]

'apple'

In [159]:
fruits[-4]

IndexError: list index out of range

In [160]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [161]:
a_list[2:5]

[None, 3.14, ['apple', 'banana', 'cherry']]

Note that the range `2:5` includes the element at the start index `2` but does not include the element at the end index `5`. So, the result has 3 values (index `2`, `3`, and `4`).

You can also change the value at a specific index within a list using the assignment operation.

In [162]:
fruits

['apple', 'banana', 'cherry']

In [163]:
fruits[1] = 'blueberry'

In [164]:
fruits

['apple', 'blueberry', 'cherry']

A new value can be added to the end of a list using the `append` method.

In [165]:
fruits.append('dates')

A new value can also be inserted at a specific index using the `insert` method.

In [166]:
fruits.insert(1, 'banana')

In [167]:
fruits

['apple', 'banana', 'blueberry', 'cherry', 'dates']

You can remove a value from a list using the `remove` method.

In [168]:
fruits.remove('blueberry')

In [169]:
fruits

['apple', 'banana', 'cherry', 'dates']

In [171]:
fruits.pop(1)

'banana'

In [172]:
fruits

['apple', 'cherry', 'dates']

If no index is provided, the `pop` method removes the last element of the list.

In [173]:
fruits.pop()

'dates'

In [174]:
fruits

['apple', 'cherry']

You can test whether a list contains a value using the `in` operator.

In [175]:
'pineapple' in fruits

False

In [176]:
'cherry' in fruits

True

To combine two or more lists, use the `+` operator. This operation is also called *concatenation*.

In [177]:
fruits

['apple', 'cherry']

In [178]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']

In [179]:
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [180]:
more_fruits_copy = more_fruits.copy()

In [181]:
more_fruits_copy

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [182]:
# Modify the copy
more_fruits_copy.remove('pineapple')
more_fruits_copy.pop()
more_fruits_copy

['apple', 'cherry', 'tomato', 'guava', 'dates']

In [183]:
# Original list remains unchanged
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

Note that you cannot create a copy of a list by simply creating a new variable using the assignment operator `=`. The new variable will point to the same list, and any modifications performed using either variable will affect the other.

In [184]:
more_fruits

['apple', 'cherry', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [185]:
more_fruits_not_a_copy = more_fruits

In [187]:
more_fruits_not_a_copy.remove('pineapple')
more_fruits_not_a_copy.pop()

'banana'

In [188]:
more_fruits_not_a_copy

['apple', 'cherry', 'tomato', 'guava', 'dates']

In [189]:
more_fruits

['apple', 'cherry', 'tomato', 'guava', 'dates']

### Tuple

A tuple is an ordered collection of values, similar to a list. However, it is not possible to add, remove, or modify values in a tuple. A tuple is created by enclosing values within parentheses `(` and `)`, separated by commas.

> Any data structure that cannot be modified after creation is called *immutable*. You can think of tuples as immutable lists.

Let's try some experiments with tuples.

In [190]:
fruits = ('apple', 'cherry', 'dates')

In [191]:
# check no. of elements
len(fruits)

3

In [192]:
# get an element (positive index)
fruits[0]

'apple'

In [193]:
# get an element (negative index)
fruits[-2]

'cherry'

In [194]:
# check if it contains an element
'dates' in fruits

True

In [195]:
# try to change an element
fruits[0] = 'avocado'

TypeError: 'tuple' object does not support item assignment

In [196]:
# try to append an element
fruits.append('blueberry')

AttributeError: 'tuple' object has no attribute 'append'

In [197]:
# try to remove an element
fruits.remove('apple')

AttributeError: 'tuple' object has no attribute 'remove'

In [198]:
the_3_musketeers = 'Athos', 'Porthos', 'Aramis'

In [199]:
the_3_musketeers

('Athos', 'Porthos', 'Aramis')

You can also create a tuple with just one element by typing a comma after it. Just wrapping it with parentheses `(` and `)` won't make it a tuple.

In [200]:
single_element_tuple = 4,

In [201]:
single_element_tuple

(4,)

In [202]:
another_single_element_tuple = (4,)

In [203]:
another_single_element_tuple

(4,)

In [205]:
not_a_tuple = (4)

In [206]:
not_a_tuple

4

Tuples are often used to create multiple variables with a single statement.

In [207]:
point = (3, 4)

In [208]:
point_x, point_y = point

In [209]:
point_x

3

In [210]:
point_y

4

You can convert a list into a tuple using the `tuple` function, and vice versa using the `list` function

In [211]:
tuple(['one', 'two', 'three'])

('one', 'two', 'three')

In [212]:
list(('Athos', 'Porthos', 'Aramis'))

['Athos', 'Porthos', 'Aramis']

Tuples have just two built-in methods: `count` and `index`. Can you figure out what they do? While you look could look for documentation and examples online, there's an easier way to check a method's documentation, using the `help` function.

In [214]:
a_tuple = 23, "hello", False, None, 23, 37, "hello"

In [215]:
help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [216]:
?a_tuple.index

### Dictionary

A dictionary is an unordered collection of items. Each item stored in a dictionary has a key and value. You can use a key to retrieve the corresponding value from the dictionary.  Dictionaries have the type `dict`.

Dictionaries are often used to store many pieces of information e.g. details about a person, in a single variable. Dictionaries are created by enclosing key-value pairs within braces or curly brackets `{` and `}`.

In [217]:
person1 = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

In [218]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

Dictionaries can also be created using the `dict` function.

In [221]:
person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)

In [222]:
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}

In [223]:
type(person1)

dict

Keys can be used to access values using square brackets `[` and `]`.

In [224]:
person1['name']

'John Doe'

In [225]:
person1['married']

True

In [226]:
person2['name']

'Jane Judy'

If a key isn't present in the dictionary, then a `KeyError` is *thrown*.

In [227]:
person1['address']

KeyError: 'address'

In [228]:
person2.get("name")

'Jane Judy'

In [229]:
person2.get("name")

'Jane Judy'

The `get` method also accepts a default value, returned if the key is not present in the dictionary.

In [230]:
'name' in person1

True

In [231]:
'address' in person1

False

You can change the value associated with a key using the assignment operator.

In [233]:
person2['married']

False

In [234]:
person2['married'] = True

In [235]:
person2['married']

True

The assignment operator can also be used to add new key-value pairs to the dictionary.

In [236]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [238]:
person1['address'] = '1, Penny Lane'

In [239]:
person1

{'name': 'John Doe',
 'sex': 'Male',
 'age': 32,
 'married': True,
 'address': '1, Penny Lane'}

To remove a key and the associated value from a dictionary, use the `pop` method.

In [240]:
person1.pop('address')

'1, Penny Lane'

In [241]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

Dictionaries also provide methods to view the list of keys, values, or key-value pairs inside it.

In [242]:
person1.keys()

dict_keys(['name', 'sex', 'age', 'married'])

In [243]:
person1.values()

dict_values(['John Doe', 'Male', 32, True])

In [244]:
person1.items()

dict_items([('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True)])

In [245]:
person1.items()[1]

TypeError: 'dict_items' object is not subscriptable

The results of `keys`, `values`, and `items` look like lists. However, they don't support the indexing operator `[]` for retrieving elements. 

Can you figure out how to access an element at a specific index from these results? Try it below. *Hint: Use the `list` function*