In [2]:
print("Hai Awak") #cara berinteraksi dgn bahasa computer
print (1)

Hai Awak
1

**Data Type** - most popular one. -- wujud utk mengelakkan percampuran yg x sepandan jenis
1. String - seperti nama dan sebagainya ("Ahmad","Book","Cat")
2. Boolean - utk cek rules (True , False)
3. Integer - nombor tanpa decimal (2,3,4,5)
5. Float - nombor dgn decimal (2.3, 2.4, 2.5)

In [3]:
x = 12
myName = "Ridwan"

print(x)
print(myName)

12
Ridwan

**Operatos** <br>
Hanya ada 6 Operatos dalam Python
1. Addition (tambah) = " + " 
2. Subtraction (tolak) = " - "
3. Multiplication (darab) = " * "
4. Division (bahagi) = " / "
5. Modulus = " % " 
6. Power (Kuasa)  = " ** "

In [8]:
x = 6
y = 7

print(x+y) 
print (x%y)
print (x*y)
print (x**y)

13
6
42
279936

**Comparison Operators** <br>
Juga ada 6 jenis dalam Python -- kebiasaan digunakan utk keluarkan booleans value ("True or False")
1. Equal (sama dengan)  " == "
2. Not Equal (tidak sama dengan) " != "
3. More than (lebih dari) " > "
4. Less than (kurang dari) " < "
5. More than and equals " >= "
6. Less than equals " <= "

In [16]:
x == 6
y == 7

True

In [11]:
x != y

True

In [12]:
x > y

False

In [13]:
x < y

True

In [14]:
x >= y

False

In [15]:
x <= y

True

**Logical Operators**<br>
Hanya digunakan utk mengeluarkan Booleans sahaja
1. and - kena dua2 statement betol baru True
2. or - kena dua2 statement salah baru False
3. not -

In [23]:
statement1 = 2==2
statement2 = 3>2

result = not( statement1 and statement2)

print(result)

False

**LIST**<br>
List adalah senarai 'item' or 'element' yang tersusun dan boleh diubah <br>
'item' yang sama boleh ada lebih dari satu.

In [24]:
# Cara menaip list.

L1 = [1,2,3,4]
L2 = ["apple",'Mangga','Anggur',"Tomato"]
L3 = [42,'kereta','suis',9]

print(L1)
print(L2)
print(L3)

[1, 2, 3, 4]
['apple', 'Mangga', 'Anggur', 'Tomato']
[42, 'kereta', 'suis', 9]

In [32]:
# Cara mengakses 'item' yang ada dalam List
# 'Index' bermula dari 0
# Contoh


print(L2[0])  #yang pertama dari hadapan
print(L2[-1]) # yang pertama dari belakang
print(L2[1:2] )  # dari 'index' 1 hingga tidak termasuk 'index' 2
print(L2[:2])    # dari permulaan hingga tidak temasuk 'index' 2
print(L2[1:])    # dari 'index' 1 hingga akhir

apple
Tomato
['Mangga']
['apple', 'Mangga']
['Mangga', 'Anggur', 'Tomato']

In [36]:
# Cara menukar 'item'

L2[1] = "Oren"
L2

['apple', 'Oren', 'Anggur', 'Tomato']

In [39]:
# Panjang sesuatu List

len(L2) # akan mengeluarkan panjang 'List'

4

Antara function yg populer gitu.
1. L2.pop  - maknanya membuang item yg terakhir dalam list
2. L2.append - maknanya tamabah satu item dalam list duduk hujung
3. L2.insert(2,'betik') -  maknanya tambah 'betik' dalam list kedudukan yg kedua
4. L2.remove('anggur') - buang item dalam list


dan banyak lagi diluar sana lagi bosskur google nnt yeah skrr

**Tuple** <br>

Senarai 'item' yang tersusun dan tidak boleh diubah. <br>
'Item' yang sama boleh ada lebih dari satu. <br>
Menambah, mengubah dan mengeluarkan 'item' adalah mustahil.

In [46]:
# cara menaip 'Tuple'
T1 = ('epal', 'mangga', 'tomato')

# Cara menaip 'Tuple' dengan satu 'item'
T2 = ('epal',)

In [58]:
# cara tukar kepada Tuple kepada list

LT = list(T1)
LT.append("durian")
T1 = tuple(LT)
T1

('epal', 'mangga', 'tomato', 'durian', 'durian', 'durian')

**Set** <br>
Senarai 'item' yang tidak tersusun dan tidak boleh diubah. <br>
'item' yang sama tidak akan dibaca <br>
Mengubah 'item' adalah mustahil.<br>
Menambah atau mengeluarkan 'item' dalam set boleh.

In [61]:
# cara menaip 'Set'
S = {'melaka','johor','selangor','melaka'} # set nie melaka takkan berulang.

In [60]:
S

{'johor', 'melaka', 'selangor'}

**Dictionary** <br>
Senarai 'item' yang tidak tersusun tetapi boleh diubah. <br>
Menggunakan "Key:value". <br>
Diletakan dalam "{....}", (curly braces).

In [64]:
# Cara taip 'dictionary'

lelaki = {'nama' : 'ridwan', 'umur': 24, 'pekerjaan': 'nganggur'}

# Cara senang baca yg mantap.
pompuan = {
    'nama' : 'ainin', 
    'umur': 24,
    'pekerjaan': 'tunggu jodoh'
}

In [65]:
print (pompuan)

{'nama': 'ainin', 'umur': 24, 'pekerjaan': 'tunggu jodoh'}

In [67]:
# Cara akses 'dictionary'

print(lelaki['nama']) # access key
print(pompuan['pekerjaan'])

ridwan
tunggu jodoh

In [71]:
# Cara ubah 'value' dalam dictionary

lelaki['nama'] = "ijat"

In [72]:
# cara tambah 'item' dalam 'dictionary'

lelaki['jantina'] = 'Ajat'
lelaki['status'] = 'hensem'

In [73]:
print(lelaki)

{'nama': 'ijat', 'umur': 24, 'pekerjaan': 'nganggur', 'jantina': 'Ajat', 'status': 'hensem'}

In [74]:
# Cara remove item dalam 'Dictionary'

lelaki.pop('umur')

24

In [75]:
print(lelaki)

{'nama': 'ijat', 'pekerjaan': 'nganggur', 'jantina': 'Ajat', 'status': 'hensem'}

**If Else Statement**

In [80]:
# Cara taip 'if else'

umur = 1

if (umur >= 18) :
    print ("Awak dibenarkan naik")
elif (umur >= 12) :
    print ("Budak Budak x leh main")
else :
    print ("Dasar bocah")

Dasar bocah

**While Loop** <br>
Jika sesuatu code itu dijalankan beberapa kali selagi sesuatu syarat dipenuhi <br>
untuk mengelakkan pengulangan code membazir<br>
Amalkan konsep 'DRY' (Dont Repeat Yourself)

In [83]:
# Cara taip 'While loop'

x = 0 # pada mulanya x itu sama dgn kosong

while x < 3: #rule tulis di sini boskur
    
    print ("yahoo")   # code insert here
    x += 1         # lalu kita create formula untuk x bergerak ke limit syarat tu

yahoo
yahoo
yahoo

In [87]:
# Cara gunakan skip salah satu loop
x = 0

while x < 5:
    x += 1
    if x == 3:
        continue # continue kalau nak skip ah dari kiraan
    print(x)

1
2
4
5

In [88]:
x = 0

while x < 5:
    x += 1
    if x == 3:
        break # break nie stop sampai situ ja pelik 
    print(x)

1
2

**For Loop** <br>
Jika suatu code itu perlu dijalankan dalam 'range' yang telah ditetapkan <br>
(seperti, 'loop' dalam 'list', dictionary atau nombor).<br>
Untuk mengelakkan pengulangan code yg membazir <br>
Amalkan konsep Dont Repeat Yourself

In [13]:
# Cara taip 'for loop'

buahBuahan = ['epal','oren','anggur','epal','oren','anggur']

for buah in buahBuahan : #buahBuahan adalah nama list yg nak di intiret /buah adlh nama var utk buahBuahan
    print (buah)

epal
oren
anggur
epal
oren
anggur

In [12]:
# cara taip range()

for x in range(6):
    print(x )

0
1
2
3
4
5

In [7]:
print(x)

5

**Functions**<br>
satu blok code yang akan dijalankan apabila di'call'.<br>
Data boleh dimasukkan dalam function, dikenali sebagai parameter. <br>
Data yang dihasilkan juga boleh dikeluarkan <br>
mengamalkan kosep DRY

In [27]:
# contoh function pythogoras teorem

import math

def pythagoras(x,y):
    answer = math.sqrt(x*x+y*y)
    
    return answer

print (pythagoras(4,5))
print (pythagoras(4,6))
print (pythagoras(4,7))
print (pythagoras(4,8))

6.4031242374328485
7.211102550927978
8.06225774829855
8.94427190999916

# Exercise Erk

**Exercise 1 : evenSum** <br>

Input = list of integers <br>
Contoh input:<br>
[1,2,3,4,5] <br>

Tujuan 'function':<br>
jumlah penambahan nombor jika nombor adalah genap <br>

In [35]:
# CASES 1
# Question: nums1 = [1,2,3,5]
# Answer is [3,4,5,7]
# Solution: Dgn tambah 2 setiap nombor dalam list.

nums1 = [1,2,3,5]
def add2(nums):
    for x in range(len(nums)):
        nums[x] = nums[x] +2
                      
    return nums
print(add2(nums1))

[3, 4, 5, 7]

In [46]:
# evenSum exercoise:

nums2 = [2,4,5,6,32,45,126,676,343,12,32,55,763,343,11,99]
def evenSum(numbers): #create define formula dengan parameters nya
    total = 0
    for number in numbers: # cerita parameter dgn elementnya
        if (number%2 == 0): # syarat nak jadi even number
              total = total + number # solution utk soalan
    return(total)
print (evenSum(nums2))

890

**Exercise 2 : capitalizeWords** <br>

@ cara besarkan huruf huruf kecik

In [51]:
# If word have 'f','r','m','s'

def capitalizeWords(words): # 1st create satu function name capitalizeWords / dgn parameters words
    selectedLetters = 'frms' # create variable dgn name selectedLetters yg terdiri daripada isi value 'frms'
    answer = []
    
    for word in words :
        added = False
        
        for letter in word:
            
            if letter in selectedLetters :
                answer.append(word.capitalize())
                added = True
                break
                
        if not added :
            answer.append(word)
    return (answer)

words1 = ['what','hello','ridwan','fish']
words2 = ['hey','cempedak','guli','gasing']


print ( capitalizeWords(words1))
print ( capitalizeWords(words2))

['what', 'hello', 'Ridwan', 'Fish']
['hey', 'Cempedak', 'guli', 'Gasing']

**Exercise 3 : combinationLock**<br>

Tujuan : untuk mencari jumlah langkah paling minima dari 'start' ke 'end'.

In [52]:
def combinationLock(startLock, endLock):
  
  totalCount = 0

  for x in range(5) :
    if (startLock[x] > endLock[x]) :
      spinCount = startLock[x] - endLock[x]
    else :
      spinCount = endLock[x] - startLock[x]

    if spinCount > 5 :
      totalCount = totalCount + (10 - spinCount)
    else :
      totalCount = totalCount + spinCount
    
  return totalCount


# Answer is 7
startLock1 = [1, 2, 3, 4, 5]
endLock1 = [2, 3, 4, 7, 6]

# Answer is 6
startLock2 = [1, 2, 3, 1, 5]
endLock2 = [2, 3, 4, 9, 6]

print(combinationLock(startLock1, endLock1))
print(combinationLock(startLock2, endLock2))

7
6

In [53]:
tropical = ["mango", "pineapple", "papaya"]

In [55]:
tropical.extend??

In [56]:
del tropical

In [57]:
tropical

NameError: name 'tropical' is not defined

In [ ]:
pip install jupyter_contrib_nbextensions