# This is Python Tutorial

This is our first program in python and it is very fun.

In [4]:
print("Hello World")

Hello World

$a=b+c$

Always check shortcut for much efficient lyfe :)

# Variables

In [41]:
x = 3

In [42]:
%whos  #to check how many variables have assign in note book.

No variables match your requested type.

In [43]:
print(type(x))  #to find out what type of variable that we assign.

<class 'int'>

In [44]:
x = 5.7

In [45]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
c          float    6.0
d          float    7.1
e          int      -3
f          int      -3
x          float    5.7

In [12]:
print (type(x))

<class 'float'>

In [46]:
y=23

In [47]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
c          float    6.0
d          float    7.1
e          int      -3
f          int      -3
x          float    5.7
y          int      23

In [48]:
a,b,c,d,e = 3,5,6.0,7.1,-3

In [35]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          float    6.0
d          float    7.1
e          int      -3
f          int      -3
x          float    5.7
y          int      23

In [49]:
del f

In [50]:
print(f) # error is cameout since we already delete the data for variables f

NameError: name 'f' is not defined

In [51]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          float    6.0
d          float    7.1
e          int      -3
x          float    5.7
y          int      23

In [52]:
f = "Hello how are you"

In [53]:
print (type(f))

<class 'str'>

In [55]:
%whos # int for non-decimal / float for decimal / string for words

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          float    6.0
d          float    7.1
e          int      -3
x          float    5.7
y          int      23

# Operators 
(Symbol /Variables)
((+)      Addition)/
((-)      Subtraction)/
((/)      Division)/
((%)      Mod)/
((8)      Multiplication)/
((//)     Floor Division)/
((88)     to the power of)

In [56]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          float    6.0
d          float    7.1
e          int      -3
f          str      Hello how are you
x          float    5.7
y          int      23

In [57]:
sum_ab = a+b

In [58]:
print(sum_ab)

8

In [59]:
type(sum_ab)

int

In [60]:
print(type(sum_ab))

<class 'int'>

In [61]:
type(a+d)

float

In [62]:
v=((a+d)**3)/4

In [63]:
print(v)

257.57525

In [65]:
s1="hello"
s2="world"
s = s1+s2
print (s)

helloworld

Tips
*Dunt assign "_" only as variables if you do then you will not be able to used it in future for another assign variables.

In [67]:
3x=3 #Variable name cannot be start with number and some of hash symbol.

SyntaxError: invalid syntax (<ipython-input-67-cd9f790baeff>, line 1)

# Bool

In [68]:
a = True
b = True
c = False

In [69]:
%whos

Variable   Type     Data/Info
-----------------------------
a          bool     True
b          bool     True
c          bool     False
d          float    7.1
e          int      -3
f          str      Hello how are you
s          str      helloworld
s1         str      hello
s2         str      world
sum_ab     int      8
v          float    257.57525
x          float    5.7
y          int      23

In [70]:
print (a and b)

True

In [71]:
print (b and a)

True

In [72]:
print (a and c)

False

In [73]:
d = a or c
print (d)

True

In [74]:
not(a)

False

In [75]:
not(b)

False

In [76]:
not(c)

True

In [77]:
not(d)

False

In [78]:
t = not(d)

In [79]:
type (not (d))

bool

In [80]:
%whos

Variable   Type     Data/Info
-----------------------------
a          bool     True
b          bool     True
c          bool     False
d          bool     True
e          int      -3
f          str      Hello how are you
s          str      helloworld
s1         str      hello
s2         str      world
sum_ab     int      8
t          bool     False
v          float    257.57525
x          float    5.7
y          int      23

In [81]:
not((a and b)or(c or d))

False

In [82]:
x < y

True

In [83]:
x > y

False

# Comparisons

In [84]:
print (2<3)

True

In [85]:
c = 2<3

In [87]:
print (type(c))
print (c)

<class 'bool'>
True

In [88]:
d = 3==4

In [89]:
print (d)

False

In [90]:
3==3.0

True

In [91]:
x = 4
y = 9
z = 8.3
r = -3

In [92]:
(x<y) and (z<y) or (r==x)

True

In [94]:
(r==x) and (x<y) or (z>y)

False

In [103]:
True or False and False # in this rule "and" will applied 1st follow up by "or", if there is no brackets.

True

In [104]:
print((not(2!=3)and True)or (False and True))

False

Tips UF => $round(x,y)$ // $x$ is value and $y$ is number of decimal.

In [105]:
print(round(4.556))

5

In [106]:
print(round(4.345))

4

In [107]:
print(round(4.556789,3))

4.557

@ Tips CF => $divmod(x,y)$ // $x$ is quotient and $y$ is remainder.

In [109]:
G = divmod(34,9)

In [110]:
type(G)

tuple

In [111]:
print(G)

(3, 7)

In [112]:
G[0]

3

In [113]:
G[1]

7

@ Common Tips = "[]" is represent value in index number starting with 0.

In [114]:
34//9

3

In [115]:
34%9

7

 @ Tips CF => $isinstance()$ returns "True" . if first argument is an instance of that class. Multiple classes can also be checked at once.

In [123]:
isinstance (3,int) # to check the value is int or not if yes then "True".

True

In [120]:
isinstance(3.4,int)

False

In [124]:
isinstance(2+3j,(int,float,)) # to check the result value either int or float or not both

False

In [125]:
isinstance (2+3j, complex)

True

@ Tips CF => $pow(x,y,z)$ $x$ raise to the power $y$ and remainder by $z$

In [126]:
pow(2,4)

16

In [127]:
2**4

16

In [130]:
pow(2,4,9)

7

@ Tips CF => $input()$ a = input("Enter something")

In [132]:
x = input("Enter the number :")

Enter the number :56

In [133]:
print (x)

56

In [134]:
type (x)

str

In [135]:
x = int(x)

In [136]:
type (x)

int

In [137]:
print (x - 34)

22

In [140]:
a = float(input("Enter a real Number :"))

Enter a real Number :12.5

In [142]:
b = float(input("Enter a Real Number :")) #this is how we put a rule on input() function

Enter a Real Number :abc

ValueError: could not convert string to float: 'abc'

@ Useful Tips => if you do not know what and how the function use then you can simply use "?" after function to open discription. i.e "pow?" - "??" or help(pow) for more details

In [143]:
pow?

In [144]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

# Control Flow

@ Useful Tips => use "(<b.r>)" to add break line and double star to bold words.

**Question 1** <br>
$a$ = int(input()) <br>
$b$ = int(input()) <br> <br>
Task : <br>
Print only bigger Number.

**Answer** :

**IF and IF**

In [148]:
a = int(input())
b = int(input())
if a>b:
    print(a)
    print("I am still inside if condition")
print("I am outside the if condition")

45
10
45
I am still inside if condition
I am outside the if condition

In [151]:
a = int(input("Enter 'a' Value :"))
b = int(input("Enter 'b' value :"))
if a>b:
    print(a)
if b>a:
    print(b)

Enter 'a' Value :22
Enter 'b' value :10
22

**IF and Else**

In [153]:
a = int(input("Enter 'a' Value :"))
b = int(input("Enter 'b' value :"))
if a>b:
    print(a)
    print("if part")
else:
    print(b)
    print("else part")

Enter 'a' Value :10
Enter 'b' value :10
10
else part

**IF and Else and Elif**

In [170]:
a = 5
b = 7
if a==b:
    print("Equal")
elif a>b:      # put a certain condition after a certain condition and can be more than one time used
    print("A")
else:
    print("B")
    print("Not in If")

B
Not in If

**Short hand IF**

In [174]:
a = int(input("Enter Marks :"))
if a >= 85:
    print("A Grade")
elif (a< 85) and (a >= 80):
    print ("A- Grade")
elif (a< 80) and (a >= 75):
    print ("B+ Grade")
elif (a< 75) and (a >= 70):
    print ("B Grade")  
else:
    print("Below Average")

Enter Marks :5
Below Average

In [177]:
a= 13
if a>10:
    print(">10")
elif not(a>10):
    print ("Else part")

>10

@ Stop at 3:51

**Nested IF** <br>
@ If condition inside If condition

In [11]:
a= int(input("Enter Number :"))
if a>10:
    print(">10")
    print("Inside the top IF")
    if a>20:                 #condition 1.
        print(">20")
        print("Inside the nested IF")
        if a> 30:           #condition 2.
            print(">30")
            print("inside the nested IF of nested IF")
        else:               #conjunction of condition 2.
            print ("<=30")  
            print ("inside else part of nested IF of nested IF")
    else:                   #conjunction of condition 1.
        print("<=20")      
        print("Inside the else part of nested IF")
print("Outside all IFs")    # if not satisfy both criteria.

Enter Number :1
Outside all IFs

**Indentation** <br>
@ kedudukan baris setiap kali tulis "condition" hendaklah betol seperti kita open or close "bracket"

In [32]:
#single line comment
"""
User will enter a floating point number let say 238.915. Your task is to 
find out the integer portion before the point (in this case 238) and then 
check if that integer portion is an even number or not?

"""

x = float(input("Enter a real Number :"))
if x>0:
    y = round(x)
    if y>x:
        intPortion = y-1 
    else:
        intPortion = y
else:
    y=round(x)
    if y<x:
        intPortion = y+1
    else:
        intPortion = y
        
if intPortion%2 == 0: # Even number is mod is equal to 0 // Odd number is mod isnt  equal to 0
    print("Even")
else:
    print ("Odd")

Enter a real Number :88
Even

**Loops**

In [40]:
n = int(input())
i = 1
while i<n:
    print(i**2)
    print("This is iteration number :", i)
    i+=1    #i = i+1
print ("Loop Done")

6
1
This is iteration number : 1
4
This is iteration number : 2
9
This is iteration number : 3
16
This is iteration number : 4
25
This is iteration number : 5
Loop Done

**Loops : break, continue**

In [47]:
n = 10
i = 1
while True:
    if i%5 != 0: 
        print("inside if")
        i += 1
        continue
    print("something")
    print("somethingelse")
    break
   
print("done")

inside if
inside if
inside if
inside if
something
somethingelse
done

**For Loops**

In [54]:
L = []
for i in range(0,10,2):
    print(i)
    L.append(i**2) #pow
print(L)

0
2
4
6
8
[0, 4, 16, 36, 64]

**Else in For Loops**

In [63]:
S = ["apple",4.9,"cherry"]
i = 1
for x in S:
    print (x)
    i+=1
    if i==3:
        break
    else:
        pass
else:
    print("Loop terminates with success")
print("out side the loop")

apple
4.9
out side the loop

**Exploring a Dictionary**

In [65]:
D = {"A":10,"B":-19,"C":"abc"}
for x in D:
    print(x,D[x])

A 10
B -19
C abc

In [71]:
"""
Given ta list of numbers i.e. [1,2,3,-5,7,9,3,2], make another list that
contains all the items in sorted order from min to max. i.e. your result
will be another list like [-5,1,2,2,3,3,7,9]
"""
L = [1,2,3,-5,7,9,3,2]
for j in range(len(L)):
    m = L[j]
    idx = j
    c = j
    for i in range(j,len(L)):
        if L[i]<m:
            m = L[i]
            idx = c
        c+=1
    tmp = L[j]
    L[j] = m
    L[idx] = tmp
print(L)

[-5, 1, 2, 2, 3, 3, 7, 9]

# Functions

In [77]:
#Example:

def printSuccess():  #this is how we define new functions.
    print("I am done")
    print("Send me anothern task")

In [78]:
printSuccess()

I am done
Send me anothern task

In [80]:
3+8

11

In [82]:
printSuccess()

I am done
Send me anothern task

**Doc String** <br>
@ write a description of the new define functions.

In [86]:
def printSuccess2():
    """ 
    This functions is doing nothing except printing a masseges.
    That massages is "Hello"
    """
    print("Hello")

In [92]:
printSuccess2()

Hello

**Input Arguments**

In [99]:
def printMsg(msg):
    """
    The functions prints the massage supplied by the user or prints that msg
    is not the form of string.
    """
    if isinstance(msg,str):
        print(msg)
    else:
        print("Your input argument is not a string")
        print("Here is the type of what you have supplied",type(msg))

In [95]:
printMsg??

In [100]:
printMsg("This is the message")

This is the message

In [101]:
printMsg(23)

Your input argument is not a string
Here is the type of what you have supplied <class 'int'>

In [103]:
y = "hellow world"
printMsg(y)

hellow world

In [105]:
def mypow(a,b):
    """ 
    This function compute power just like builtin power function
    """
    c = a**b
    print(c)

In [106]:
mypow?

In [108]:
mypow(2,6)

64

In [113]:
def checkArgs(a,b,c):
    if isinstance(a,(int,float)) and isinstance(b,(int,float)) and isinstance(c,(int,float)):
        print((a+b+c)**2)
    else:
        print("Error: The input arguments are not of the expected types")

In [114]:
checkArgs(3,4,5)

144

In [115]:
checkArgs(3,4,"g")

Error: The input arguments are not of the expected types

In [1]:
checkArgs(3,4,c,5) # cannot assign more than our setting condition

NameError: name 'checkArgs' is not defined

**Variables Inside & Return Statement**

In [7]:
def myadd(a,b):
    sumValue = a+b
    return sumValue

In [9]:
d = myadd(2,3)
print(d)

5

In [10]:
variableOutsideTheFunction = 3

In [16]:
def g():
    variableOutsideTheFunction = 5
    #print(variableOutsideTheFunction)

In [19]:
print(type(g()))

<class 'NoneType'>

In [15]:
print(variableOutsideTheFunction)

3

In [37]:
def h():
    print("A")
    a = 3
    b = 5
    c = a+b
    print("something")
    return c
    print("B")
    print("C")

In [38]:
print(h())

A
something
8

In [24]:
def r():
    a = 5
    b = 7
    d = "something"
    return a,b,d

In [30]:
x,y,z = r()
print(x,y,z)

5 7 something

**Variable Number of Input Arguments**

In [44]:
def myAddUniversal(*args):
    s = 0
    for i in range(len(args)):
        s += args[i] # s = s+args[i]
    return s

In [46]:
print(myAddUniversal(1,4,6,7,77))

95

In [48]:
def printAllVarAndVal(**args):
    for x in args:
        print ("Variable Name is : ",x,"And Value is :", args[x])

In [49]:
printAllVarAndVal(a=3,b="B",c="ccc",y=6.7)

Variable Name is :  a And Value is : 3
Variable Name is :  b And Value is : B
Variable Name is :  c And Value is : ccc
Variable Name is :  y And Value is : 6.7

**Default Value**

In [51]:
def gg(s=4):
    print(s)

In [53]:
gg(56)

56

In [60]:
L = [1,2,3]
L2 = L
L2[0] = -99
print (L)

[-99, 2, 3]

In [61]:
def ff(L=[1,2]):
    for i in L:
        print(i)

In [65]:
L2 = [12,3,4,5]
ff()

1
2

In [68]:
ff(L2)

12
3
4
5

**Modules**

In [76]:
import sys
sys.path.append('E:/My Python Module/')

In [83]:
#import My_1st_Modules_Function as myfs
from My_1st_Modules_Function import addAllNumerics

In [84]:
addAllNumerics (1,2,3,4,5,6)

21

In [81]:
c = myfs.addAllNumerics (2,3,4,6)

In [85]:
myfs.myName

'Python Course'

In [86]:
"""
User will enter a floating point number let say 238.915. Your task is to 
find out the integer portion before the point (in this case 238) and then 
check if that integer portion is an even number or not?

"""

'\nUser will enter a floating point number let say 238.915. Your task is to \nfind out the integer portion before the point (in this case 238) and then \ncheck if that integer portion is an even number or not?\n\n'

In [98]:
def finMin(L,startIndx):
    m = L[startIndx]
    idx = startIndx
    for i in range(startIndx,len(L)):
        x = L[i]
        if x<m:
            m=x
            idx = i
        else:
            pass
        i+=1
    return m,idx

In [93]:
a,b = finMin([2,3,4,0,9])

In [94]:
print (a,b)

0 3

In [96]:
def swapValues(L,idx1,idx2):
    tmp = L[idx1]
    L[idx1] = L[idx2]
    L[idx2] = tmp
    return L

In [97]:
L = [2,3,6,7]
L2 = swapValues(L,1,3)
print(L2)

[2, 7, 6, 3]

In [122]:
from My_1st_Modules_Function import checkIfNotNumeric 
def sortlist(L):
    if not(checkIfNotNumeric2(L)):
        print("Error: List does not contain numeric values")
        return
    else:
        c = 0
        for x in L:
            m,idx = finMin(L,c)
            L = swapValues(L,c,idx)
            c+=1
        return L

In [123]:
L2 = sortlist([2,1,5,3,-8,17])
print(L2)

[-8, 1, 2, 3, 5, 17]

In [105]:
checkIfNotNumeric??

In [115]:
print(checkIfNotNumeric2([2,1,5,3,-8,17]))

True

In [114]:
def checkIfNotNumeric2(L):
  
    for x in L:
       
        if not (isinstance(x,(int,float))):
            return False
    return True

# String

@ ""  or  '' both are fine.

In [6]:
s = "Python is a good language"
t = "Its a good for data science"

In [2]:
type(s)

str

In [3]:
print(s)

Python is a good language

In [4]:
print("Hello",12,"Hello2",5.9)

Hello 12 Hello2 5.9

In [9]:
v = s+" "+t  # "" can be also used to create space between string
print(v)

Python is a good language Its a good for data science

In [19]:
price = 12
s = "The Price of this book"
v = s +' is: '+str(price) # number also can be changed into string.
print(v)
print (s ,"is:",price)

The Price of this book is: 12
The Price of this book is: 12

In [22]:
a = """Hello, my name is ridwan
I am newbie in programming
Hope one day became much better
"""
print(a)

Hello, my name ridwan
I am newbie in programming
Hope one day became much better

In [24]:
print( """  The Following option are availablel:
            -a : does nothing.
            -b : good is good
""")

  The Following option are availablel:
            -a : does nothing.
            -b : good is good

**String Cont..**

In [30]:
s = "How are you and who are you"
print(s[0])

H

In [27]:
type(s[5])

str

In [33]:
s[0:10]

'How are yo'

In [34]:
s[-3]

'y'

In [35]:
s[-8:-4]

' are'

In [37]:
s[1] = "e" #string index cannot be changed directly

TypeError: 'str' object does not support item assignment

In [38]:
s[0:12:2]

'Hwaeyu'

In [39]:
#s[start:end:step]
s[:12]

'How are you '

In [40]:
s[3:]

' are you and who are you'

In [41]:
s[::-1]

'uoy era ohw dna uoy era woH'

In [44]:
a = "       abc  def   how    "
b = a.strip() # to remove unapproprite space
print(b)

abc  def   how

In [45]:
a = "ABC deFG :: QF" 
b = a.lower() # to make all the word became lower case.
print(b)

abc defg :: qf

In [46]:
a = "aaaa vvvv  cccc"
b = a.upper() # to make all the word uppercase.
print(b)

AAAA VVVV  CCCC

In [51]:
d = a.replace(""," ,,*** $$ %%")
print (d)

 ,,*** $$ %%a ,,*** $$ %%a ,,*** $$ %%a ,,*** $$ %%a ,,*** $$ %%  ,,*** $$ %%v ,,*** $$ %%v ,,*** $$ %%v ,,*** $$ %%v ,,*** $$ %%  ,,*** $$ %%  ,,*** $$ %%c ,,*** $$ %%c ,,*** $$ %%c ,,*** $$ %%c ,,*** $$ %%

In [53]:
a = " Ayam Goreng"
print (a)

 Ayam Goreng

In [61]:
d = a.replace("kambing golek","")
print(d)

 Ayam Goreng

In [65]:
"abc" in "mmkkmllkolmcikmabcamalmlksamdkbamasbc"

True

In [67]:
print("we are learning\"string\"here") # how to highlight the word.

we are learning"string"here

In [69]:
print("we are \n now another line") # \n for write space between line

we are
 now another line

In [70]:
print("c:\drive\name")

c:\drive
ame

In [71]:
print(r"c:\drive\name")

c:\drive\name

# Data Structures

@ List - order - changeable - duplicates - bracket kotak <br>
@ Tuple - order - unchageable - duplicates - bracket bulat<br>
@ Set - Unorder - Addable/Removeable - no duplicates -bracket segitiga<br>