In [3]:
"""
1. Write a Pandas program to convert all the string values to upper, 
lower cases in a given pandas series. Also find the length of the string values. 
"""
import pandas as pd
import numpy as np
s = pd.Series(['X','Y','Z','Aaba','Baca',np.nan,'CABA',None,'bird','horse','dog'])
print('Original Series: ')
print(s)
print('\nConvert all string values of the said Series to upper case:')
print(s.str.upper())
print('\nConvert all string values of the said Series to lower case: ')
print(s.str.lower())
print('\nLength of the string values of the said Series: ')
print(s.str.len())

Original Series:
0         X
1         Y
2         Z
3      Aaba
4      Baca
5       NaN
6      CABA
7      None
8      bird
9     horse
10      dog
dtype: object

Convert all string values of the said Series to upper case:
0         X
1         Y
2         Z
3      AABA
4      BACA
5       NaN
6      CABA
7      None
8      BIRD
9     HORSE
10      DOG
dtype: object

Convert all string values of the said Series to lower case:
0         x
1         y
2         z
3      aaba
4      baca
5       NaN
6      caba
7      None
8      bird
9     horse
10      dog
dtype: object

Length of the string values of the said Series:
0     1.0
1     1.0
2     1.0
3     4.0
4     4.0
5     NaN
6     4.0
7     NaN
8     4.0
9     5.0
10    3.0
dtype: float64

In [7]:
"""
2. Write a Pandas program to remove whitespaces, left sided whitespaces and 
right sided whitespaces of the string values of a given pandas series 
"""
import pandas as pd
color1 = pd.Index([' Green','Black ','Red','White  ','Pink'])
print('Original Series:')
print(color1)
print('\nRemove whitespace')
print(color1.str.strip())
print('Remove left sided whitespace')
print(color1.str.lstrip())
print('Remove Right sided whitespace')
print(color1.str.rstrip())

Original Series:
Index([' Green', 'Black ', 'Red', 'White  ', 'Pink'], dtype='object')

Remove whitespace
Index(['Green', 'Black', 'Red', 'White', 'Pink'], dtype='object')
Remove left sided whitespace
Index(['Green', 'Black ', 'Red', 'White  ', 'Pink'], dtype='object')
Remove Right sided whitespace
Index([' Green', 'Black', 'Red', 'White', 'Pink'], dtype='object')

In [14]:
"""
3. Write a Pandas program to add leading zeros to the integer column in a pandas series and 
makes the length of the field to 8 digit
"""
import pandas as pd
import numpy as np
nums = {'amount' : [10,250,3000,40000,500000]}
print('Original DataFrame: ')
df = pd.DataFrame(nums)
print(df)
print("\nAdd leading zeros: ")
df['amount'] = df['amount'].apply(lambda x: '{0:0>8}'.format(x))
print(df)

Original DataFrame:
   amount
0      10
1     250
2    3000
3   40000
4  500000

Add leading zeros:
     amount
0  00000010
1  00000250
2  00003000
3  00040000
4  00500000

In [17]:
"""
4. Write a Pandas program to add leading zeros to the character column
in a pandas series and makes the length of the field to 8 digit
"""
import pandas as pd
nums = {'amount' : ['10','250','3000','40000','500000']}
print('Original DataFrame: ')
df = pd.DataFrame(nums)
print(df)
print('\nAdd leading zeros: ')
df['amount'] = list(map(lambda x: x.zfill(10), df['amount']))
print(df)

Original DataFrame:
   amount
0      10
1     250
2    3000
3   40000
4  500000

Add leading zeros:
       amount
0  0000000010
1  0000000250
2  0000003000
3  0000040000
4  0000500000

In [20]:
"""
5. Write a Pandas program to capitalize all the string values of specified columns of 
a given DataFrame
"""
import pandas as pd
df = pd.DataFrame({
    'name': ['alberto','gino','ryan', 'Eesha', 'syed'],
    'date_of_birth ': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print('Original DataFrame: ')
print(df)
print('\nAfter capitalizing name column: ')
df['name'] = list(map(lambda x: x.capitalize(), df['name']))
print(df)

Original DataFrame:
      name date_of_birth    age
0  alberto     17/05/2002  18.5
1     gino     16/02/1999  21.2
2     ryan     25/09/1998  22.5
3    Eesha     11/05/2002  22.0
4     syed     15/09/1997  23.0

After capitalizing name column:
      name date_of_birth    age
0  Alberto     17/05/2002  18.5
1     Gino     16/02/1999  21.2
2     Ryan     25/09/1998  22.5
3    Eesha     11/05/2002  22.0
4     Syed     15/09/1997  23.0

In [21]:
"""
6. Write a Pandas program to count of occurrence of a specified substring in a DataFrame column 
"""
import pandas as pd
df = pd.DataFrame({
    'name_code': ['c001','c002','c022', 'c2002', 'c2222'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print('Original DataFrame: ')
print(df)
print('\nCount occurance of 2 in date_of_birth column: ')
df['count'] = list(map(lambda x: x.count('2'),df['name_code']))
print(df)

Original DataFrame:
  name_code date_of_birth    age
0      c001     12/05/2002  18.5
1      c002     16/02/1999  21.2
2      c022     25/09/1998  22.5
3     c2002     12/02/2022  22.0
4     c2222     15/09/1997  23.0

Count occurance of 2 in date_of_birth column:
  name_code date_of_birth    age  count
0      c001     12/05/2002  18.5      0
1      c002     16/02/1999  21.2      1
2      c022     25/09/1998  22.5      2
3     c2002     12/02/2022  22.0      2
4     c2222     15/09/1997  23.0      4

In [23]:
"""
7. Write a Pandas program to find the index of a given substring of a DataFrame column.
"""
import pandas as pd
df = pd.DataFrame({
    'name_code': ['c001','c002','c022', 'c2002', 'c2222'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print('Original DataFrame: ')
print(df)
print('\nCount occurence of 22 in date_of_birth column: ')
df['Index'] = list(map(lambda x: x.find('22'),df['name_code']))
print(df)

Original DataFrame:
  name_code date_of_birth    age
0      c001     12/05/2002  18.5
1      c002     16/02/1999  21.2
2      c022     25/09/1998  22.5
3     c2002     12/02/2022  22.0
4     c2222     15/09/1997  23.0

Count occurence of 22 in date_of_birth column:
  name_code date_of_birth    age  Index
0      c001     12/05/2002  18.5     -1
1      c002     16/02/1999  21.2     -1
2      c022     25/09/1998  22.5      2
3     c2002     12/02/2022  22.0     -1
4     c2222     15/09/1997  23.0      1

In [25]:
"""
8. Write a Pandas program to find the index of a substring of DataFrame with beginning and
end position. 
"""
import pandas as pd
df = pd.DataFrame({
    'name_code': ['c001','c002','c022', 'c2002', 'c2222'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print('Original DataFrame: ')
print(df)
print('\nIndex of a substring in a specified column of a dataframe: ')
df['Index'] = list(map(lambda x: x.find('c',0,5), df['name_code']))
print(df)

Original DataFrame:
  name_code date_of_birth    age
0      c001     12/05/2002  18.5
1      c002     16/02/1999  21.2
2      c022     25/09/1998  22.5
3     c2002     12/02/2022  22.0
4     c2222     15/09/1997  23.0

Index of a substring in a specified column of a dataframe:
  name_code date_of_birth    age  Index
0      c001     12/05/2002  18.5      0
1      c002     16/02/1999  21.2      0
2      c022     25/09/1998  22.5      0
3     c2002     12/02/2022  22.0      0
4     c2222     15/09/1997  23.0      0

In [26]:
"""
9. Write a Pandas program to check whether alpha numeric values present
in a given column of a DataFrame
"""
import pandas as pd
df = pd.DataFrame({
    'name_code': ['Company','Company a001','Company 123', '1234', 'Company 12'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print("Original DataFrame:")
print(df)
print('\nWhether all characters in the string are alphanumeric? ')
df['name_code_is_alphanumeric'] = list(map(lambda x: x.isalnum(), df ['name_code']))
print(df)

Original DataFrame:
      name_code date_of_birth    age
0       Company     12/05/2002  18.5
1  Company a001     16/02/1999  21.2
2   Company 123     25/09/1998  22.5
3          1234     12/02/2022  22.0
4    Company 12     15/09/1997  23.0

Whether all characters in the string are alphanumeric?
      name_code date_of_birth    age  name_cade_is_alphanumeric
0       Company     12/05/2002  18.5                       True
1  Company a001     16/02/1999  21.2                      False
2   Company 123     25/09/1998  22.5                      False
3          1234     12/02/2022  22.0                       True
4    Company 12     15/09/1997  23.0                      False

In [27]:
"""
10. Write a Pandas program to check whether alphabetic values present in a given column of
a DataFrame. 
"""
import pandas as pd
df = pd.DataFrame({
    'company_code': ['Company','Company a001','Company 123', 'abcd', 'Company 12'],
    'date_of_sale ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]})

print("Original DataFrame:")
print(df)
print('\nWhether Alphabetic values present in company_code column?')
df['company_code_is_alpha'] = list(map(lambda x: x.isalpha(),df['company_code']))
print(df)

Original DataFrame:
   company_code date_of_sale   sale_amount
0       Company    12/05/2002      12348.5
1  Company a001    16/02/1999     233331.2
2   Company 123    25/09/1998         22.5
3          abcd    12/02/2022    2566552.0
4    Company 12    15/09/1997         23.0

Whether Alphabetic values present in company_code column?
   company_code date_of_sale   sale_amount  company_code_is_alpha
0       Company    12/05/2002      12348.5                   True
1  Company a001    16/02/1999     233331.2                  False
2   Company 123    25/09/1998         22.5                  False
3          abcd    12/02/2022    2566552.0                   True
4    Company 12    15/09/1997         23.0                  False

In [28]:
"""
11. Write a Pandas program to check whether only numeric values present in a given 
column of a DataFrame
"""
import pandas as pd
df = pd.DataFrame({
    'company_code': ['Company','Company a001', '2055', 'abcd', '123345'],
    'date_of_sale ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]})
	
print("Original DataFrame:")
print(df)
print('Numeric values present in company_code column: ')
df['company_code_is_digit'] = list(map(lambda x: x.isdigit(),df['company_code']))
print(df)

Original DataFrame:
   company_code date_of_sale   sale_amount
0       Company    12/05/2002      12348.5
1  Company a001    16/02/1999     233331.2
2          2055    25/09/1998         22.5
3          abcd    12/02/2022    2566552.0
4        123345    15/09/1997         23.0
Numeric values present in company_code column:
   company_code date_of_sale   sale_amount  company_code_is_digit
0       Company    12/05/2002      12348.5                  False
1  Company a001    16/02/1999     233331.2                  False
2          2055    25/09/1998         22.5                   True
3          abcd    12/02/2022    2566552.0                  False
4        123345    15/09/1997         23.0                   True

In [29]:
"""
12. Write a Pandas program to check whether only lower case or upper case is 
present in a given column of a DataFrame
"""
import pandas as pd
df = pd.DataFrame({
    'company_code': ['ABCD','EFGF', 'hhhh', 'abcd', 'EAWQaaa'],
    'date_of_sale ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]})

print("Original DataFrame:")
print(df)
print('nIs lower (company_code)?')
df['company_code_ul_cases']=list(map(lambda x: x.islower(), df['company_code']))
print(df)
print('\nIs Upper (company_code)?')
df['company_code_ul_cases'] = list(map(lambda x: x.isupper(), df['company_code']))
print(df)

Original DataFrame:
  company_code date_of_sale   sale_amount
0         ABCD    12/05/2002      12348.5
1         EFGF    16/02/1999     233331.2
2         hhhh    25/09/1998         22.5
3         abcd    12/02/2022    2566552.0
4      EAWQaaa    15/09/1997         23.0
nIs lower (company_code)?
  company_code date_of_sale   sale_amount  company_code_ul_cases
0         ABCD    12/05/2002      12348.5                  False
1         EFGF    16/02/1999     233331.2                  False
2         hhhh    25/09/1998         22.5                   True
3         abcd    12/02/2022    2566552.0                   True
4      EAWQaaa    15/09/1997         23.0                  False

Is Upper (company_code)?
  company_code date_of_sale   sale_amount  company_code_ul_cases
0         ABCD    12/05/2002      12348.5                   True
1         EFGF    16/02/1999     233331.2                   True
2         hhhh    25/09/1998         22.5                  False
3         abcd    12/02/2022    2566552.0                  False
4      EAWQaaa    15/09/1997         23.0                  False

In [31]:
"""
13. Write a Pandas program to check whether only proper case or title case is present in
a given column of a DataFrame. 
"""
import pandas as pd
df = pd.DataFrame({
    'company_code': ['ABCD','EFGF', 'hhhh', 'abcd', 'EAWQaaa'],
    'date_of_sale ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]})

print("Original DataFrame:")
print(df)
print('\nIs proper case or title case?')
df['company_code_is title'] = list(map(lambda x: x.istitle(), df['company_code']))
print(df)

Original DataFrame:
  company_code date_of_sale   sale_amount
0         ABCD    12/05/2002      12348.5
1         EFGF    16/02/1999     233331.2
2         hhhh    25/09/1998         22.5
3         abcd    12/02/2022    2566552.0
4      EAWQaaa    15/09/1997         23.0

Is proper case or title case?
  company_code date_of_sale   sale_amount  company_code_is title
0         ABCD    12/05/2002      12348.5                  False
1         EFGF    16/02/1999     233331.2                  False
2         hhhh    25/09/1998         22.5                  False
3         abcd    12/02/2022    2566552.0                  False
4      EAWQaaa    15/09/1997         23.0                  False

In [33]:
"""
14. Write a Pandas program to check whether only space is present in a given column of a DataFrame
"""
import pandas as pd
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF ', '  ', 'abcd', ' '],
    'date_of_sale ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]

})
print('Original DataFrame: ')
print(df)
print('\nIs space is present?')
df['company_code_is_title'] = list(map(lambda x: x.isspace(), df['company_code']))
print(df)

Original DataFrame:
  company_code date_of_sale   sale_amount
0         Abcd    12/05/2002      12348.5
1        EFGF     16/02/1999     233331.2
2                 25/09/1998         22.5
3         abcd    12/02/2022    2566552.0
4                 15/09/1997         23.0

Is space is present?
  company_code date_of_sale   sale_amount  company_code_is_title
0         Abcd    12/05/2002      12348.5                  False
1        EFGF     16/02/1999     233331.2                  False
2                 25/09/1998         22.5                   True
3         abcd    12/02/2022    2566552.0                  False
4                 15/09/1997         23.0                   True

In [34]:
"""
15. Write a Pandas program to get the length of the string present of a given column in a DataFrame.
"""
import pandas as pd
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'skfsalf', 'sdfslew', 'safsdf'],
    'date_of_sale ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]
})
print('Original DataFrame: ')
print(df)
print('\nLength of the string in column: ')
df['company_code_length'] = df['company_code'].apply(len)
print(df)

Original DataFrame:
  company_code date_of_sale   sale_amount
0         Abcd    12/05/2002      12348.5
1         EFGF    16/02/1999     233331.2
2      skfsalf    25/09/1998         22.5
3      sdfslew    12/02/2022    2566552.0
4       safsdf    15/09/1997         23.0

Length of the string in column:
  company_code date_of_sale   sale_amount  company_code_length
0         Abcd    12/05/2002      12348.5                    4
1         EFGF    16/02/1999     233331.2                    4
2      skfsalf    25/09/1998         22.5                    7
3      sdfslew    12/02/2022    2566552.0                    7
4       safsdf    15/09/1997         23.0                    6

In [35]:
"""
16. Write a Pandas program to get the length of the integer of a given column in a DataFrame
"""
import pandas as pd
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'skfsalf', 'sdfslew', 'safsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]
})
print('Original DataFrame: ')
print(df)
print('\nLength of sale_amount: ')
df['sale_amount_length'] = df['sale_amount'].map(str).apply(len)
print(df)

Original DataFrame:
  company_code date_of_sale  sale_amount
0         Abcd   12/05/2002      12348.5
1         EFGF   16/02/1999     233331.2
2      skfsalf   25/09/1998         22.5
3      sdfslew   12/02/2022    2566552.0
4       safsdf   15/09/1997         23.0

Length of sale_amount:
  company_code date_of_sale  sale_amount  sale_amount_length
0         Abcd   12/05/2002      12348.5                   7
1         EFGF   16/02/1999     233331.2                   8
2      skfsalf   25/09/1998         22.5                   4
3      sdfslew   12/02/2022    2566552.0                   9
4       safsdf   15/09/1997         23.0                   4

In [36]:
"""
17. Write a Pandas program to check if a specified column starts with a 
specified string in a DataFrame.
"""
import pandas as pd
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]
})
print('Original DataFrame: ')
print(df)
print('\nIf a specified column starts with a specified string?')
df['company_code_starts_with'] = list( map(lambda x: x.startswith('ze'),df['company_code']))
print(df)

Original DataFrame:
  company_code date_of_sale  sale_amount
0         Abcd   12/05/2002      12348.5
1         EFGF   16/02/1999     233331.2
2      zefsalf   25/09/1998         22.5
3      sdfslew   12/02/2022    2566552.0
4      zekfsdf   15/09/1997         23.0

If a specified column starts with a specified string?
  company_code date_of_sale  sale_amount  company_code_starts_with
0         Abcd   12/05/2002      12348.5                     False
1         EFGF   16/02/1999     233331.2                     False
2      zefsalf   25/09/1998         22.5                      True
3      sdfslew   12/02/2022    2566552.0                     False
4      zekfsdf   15/09/1997         23.0                      True

In [37]:
"""
18. Write a Pandas program to swap the cases of a specified character column in a given DataFrame.
"""
import pandas as pd
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]
})
print('Original DataFrame: ')
print(df)
print('\nSwapp cases in company_code')
df['swapped_company_code'] = list(map(lambda x: x.swapcase(), df['company_code'] ))
print(df)

Original DataFrame:
  company_code date_of_sale  sale_amount
0         Abcd   12/05/2002      12348.5
1         EFGF   16/02/1999     233331.2
2      zefsalf   25/09/1998         22.5
3      sdfslew   12/02/2022    2566552.0
4      zekfsdf   15/09/1997         23.0

Swapp cases in company_code
  company_code date_of_sale  sale_amount swapped_company_code
0         Abcd   12/05/2002      12348.5                 aBCD
1         EFGF   16/02/1999     233331.2                 efgf
2      zefsalf   25/09/1998         22.5              ZEFSALF
3      sdfslew   12/02/2022    2566552.0              SDFSLEW
4      zekfsdf   15/09/1997         23.0              ZEKFSDF

In [39]:
"""
19. Write a Pandas program to convert a specified character column in upper/lower cases in 
a given DataFrame
"""
import pandas as pd
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]
    
})
df1 = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]
})
print('Original DataFrame: ')
print(df)
print('\nUpper cases in company_code: ')
df['upper_company_code'] = list(map(lambda x: x.upper(),df['company_code']))
print(df)
print('\nLower cases in compnay_code: ')
df1['lower_company_code'] = list(map(lambda x: x.lower(), df1['company_code']))
print(df1)

Original DataFrame:
  company_code date_of_sale  sale_amount
0         Abcd   12/05/2002      12348.5
1         EFGF   16/02/1999     233331.2
2      zefsalf   25/09/1998         22.5
3      sdfslew   12/02/2022    2566552.0
4      zekfsdf   15/09/1997         23.0

Upper cases in company_code:
  company_code date_of_sale  sale_amount upper_company_code
0         Abcd   12/05/2002      12348.5               ABCD
1         EFGF   16/02/1999     233331.2               EFGF
2      zefsalf   25/09/1998         22.5            ZEFSALF
3      sdfslew   12/02/2022    2566552.0            SDFSLEW
4      zekfsdf   15/09/1997         23.0            ZEKFSDF

Lower cases in compnay_code:
  company_code date_of_sale  sale_amount lower_company_code
0         Abcd   12/05/2002      12348.5               abcd
1         EFGF   16/02/1999     233331.2               efgf
2      zefsalf   25/09/1998         22.5            zefsalf
3      sdfslew   12/02/2022    2566552.0            sdfslew
4      zekfsdf   15/09/1997         23.0            zekfsdf

In [41]:
"""
20. Write a Pandas program to convert a specified character column in title case in a given DataFrame.
"""
import pandas as pd
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]
})

print('Original DataFrame: ')
print(df)

print('\nTitle Cases: ')
df['company_code_title_cases'] = list(map(lambda x: x.title(), df['company_code']))
print(df)

Original DataFrame:
  company_code date_of_sale  sale_amount
0         Abcd   12/05/2002      12348.5
1         EFGF   16/02/1999     233331.2
2      zefsalf   25/09/1998         22.5
3      sdfslew   12/02/2022    2566552.0
4      zekfsdf   15/09/1997         23.0

Title Cases:
  company_code date_of_sale  sale_amount company_code_title_cases
0         Abcd   12/05/2002      12348.5                     Abcd
1         EFGF   16/02/1999     233331.2                     Efgf
2      zefsalf   25/09/1998         22.5                  Zefsalf
3      sdfslew   12/02/2022    2566552.0                  Sdfslew
4      zekfsdf   15/09/1997         23.0                  Zekfsdf

In [42]:
"""
21. Write a Pandas program to replace arbitrary values with other values in a given DataFrame. 
"""
import pandas as pd
df = pd.DataFrame({
    'company_code': ['A','B', 'C', 'D', 'A'],
    'date_of_sale': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]   
})
print('Original DataFrame: ')
print(df)

print('\nReplace A with C:')
df = df.replace('A','C')
print(df)

Original DataFrame:
  company_code date_of_sale  sale_amount
0            A   12/05/2002      12348.5
1            B   16/02/1999     233331.2
2            C   25/09/1998         22.5
3            D   12/02/2022    2566552.0
4            A   15/09/1997         23.0

Replace A with C:
  company_code date_of_sale  sale_amount
0            C   12/05/2002      12348.5
1            B   16/02/1999     233331.2
2            C   25/09/1998         22.5
3            D   12/02/2022    2566552.0
4            C   15/09/1997         23.0

In [43]:
"""
22. Write a Pandas program to replace more than one value with other values in a given DataFrame.
"""
import pandas as pd
df = pd.DataFrame({
    'company_code': ['A','B', 'C', 'D', 'A'],
    'date_of_sale': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]
})
print('Original DataFrame: ')
print(df)

print('\nReplace A with C: ')
df = df.replace(['A','D'],['X','Y'])
print(df)

Original DataFrame:
  company_code date_of_sale  sale_amount
0            A   12/05/2002      12348.5
1            B   16/02/1999     233331.2
2            C   25/09/1998         22.5
3            D   12/02/2022    2566552.0
4            A   15/09/1997         23.0

Replace A with C:
  company_code date_of_sale  sale_amount
0            X   12/05/2002      12348.5
1            B   16/02/1999     233331.2
2            C   25/09/1998         22.5
3            Y   12/02/2022    2566552.0
4            X   15/09/1997         23.0

In [44]:
"""
23. Write a Pandas program to split a string of a column of a given DataFrame into multiple columns.
"""
import pandas as pd
df = pd.DataFrame({
    'name': ['Alberto  Franco','Gino Ann Mcneill','Ryan  Parkes', 'Eesha Artur Hinton', 'Syed  Wharton'],
    'date_of_birth ': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print('Original DataFrame: ')
print(df)
df[['first','middle','last']] = df['name'].str.split(" ",expand = True)
print('\nNew DataFrame: ')
print(df)

Original DataFrame:
                 name date_of_birth    age
0     Alberto  Franco     17/05/2002  18.5
1    Gino Ann Mcneill     16/02/1999  21.2
2        Ryan  Parkes     25/09/1998  22.5
3  Eesha Artur Hinton     11/05/2002  22.0
4       Syed  Wharton     15/09/1997  23.0

New DataFrame:
                 name date_of_birth    age    first middle     last
0     Alberto  Franco     17/05/2002  18.5  Alberto          Franco
1    Gino Ann Mcneill     16/02/1999  21.2     Gino    Ann  Mcneill
2        Ryan  Parkes     25/09/1998  22.5     Ryan          Parkes
3  Eesha Artur Hinton     11/05/2002  22.0    Eesha  Artur   Hinton
4       Syed  Wharton     15/09/1997  23.0     Syed         Wharton

In [49]:
"""
24. Write a Pandas program to extract email from a specified column of string type of a 
given DataFrame
"""
import pandas as pd
import re as re
pd.set_option('display.max_columns', 10)
df = pd.DataFrame({
    'name_email': ['Alberto Franco af@gmail.com','Gino Mcneill gm@yahoo.com','Ryan Parkes rp@abc.io', 'Eesha Hinton', 'Gino Mcneill gm@github.com']
    })
print("Original DataFrame:")
print(df)
def find_email(text):
    email = re.findall(r'[\w\.-]+@[\w\.-]+',str(text))
    return ",".join(email)
df['email'] = df['name_email'].apply(lambda x: find_email(x))
print('\nExtracting email from dataframe columns: ')
print(df)

Original DataFrame:
                    name_email
0  Alberto Franco af@gmail.com
1    Gino Mcneill gm@yahoo.com
2        Ryan Parkes rp@abc.io
3                 Eesha Hinton
4   Gino Mcneill gm@github.com

Extracting email from dataframe columns:
                    name_email          email
0  Alberto Franco af@gmail.com   af@gmail.com
1    Gino Mcneill gm@yahoo.com   gm@yahoo.com
2        Ryan Parkes rp@abc.io      rp@abc.io
3                 Eesha Hinton
4   Gino Mcneill gm@github.com  gm@github.com

In [51]:
"""
25. Write a Pandas program to extract hash attached word from twitter text from 
the specified column of a given DataFrame 
"""
import pandas as pd
import re as re
pd.set_option('display.max_columns', 10)
df = pd.DataFrame({
    'tweets': ['#Obama says goodbye','Retweets for #cash','A political endorsement in #Indonesia', '1 dog = many #retweets', 'Just a simple #egg']
    })
print("Original DataFrame:")
print(df)
def find_hash(text):
    hword = re.findall(r'(?<=#)\w+',text)
    return" ".join(hword)
df['hash_word'] = df['tweets'].apply(lambda x: find_hash(x))
print('\nExtracting#@word from dataframe columns: ')
print(df)

Original DataFrame:
                                  tweets
0                    #Obama says goodbye
1                     Retweets for #cash
2  A political endorsement in #Indonesia
3                 1 dog = many #retweets
4                     Just a simple #egg

Extracting#@word from dataframe columns:
                                  tweets  hash_word
0                    #Obama says goodbye      Obama
1                     Retweets for #cash       cash
2  A political endorsement in #Indonesia  Indonesia
3                 1 dog = many #retweets   retweets
4                     Just a simple #egg        egg

In [53]:
"""
26. Write a Pandas program to extract word mention someone in tweets using @ from 
the specified column of a given DataFrame
"""
import pandas as pd
import re as re
pd.set_option('display.max_columns', 10)
df = pd.DataFrame({
    'tweets': ['@Obama says goodbye','Retweets for @cash','A political endorsement in @Indonesia', '1 dog = many #retweets', 'Just a simple #egg']
    })
print("Original DataFrame:")
print(df)

def find_at_word(text):
    word = re.findall(r'(?<=@)\w+',text)
    return" ".join(word)
df['at_word'] = df['tweets'].apply(lambda x: find_at_word(x))
print('\nExtracting @ word from dataframe columns: ')
print(df)

Original DataFrame:
                                  tweets
0                    @Obama says goodbye
1                     Retweets for @cash
2  A political endorsement in @Indonesia
3                 1 dog = many #retweets
4                     Just a simple #egg

Extracting @ word from dataframe columns:
                                  tweets    at_word
0                    @Obama says goodbye      Obama
1                     Retweets for @cash       cash
2  A political endorsement in @Indonesia  Indonesia
3                 1 dog = many #retweets
4                     Just a simple #egg